<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <label for="email">Email:</label>
        <input type="email" formControlName="email" id="email">
        <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
          Email is required
        </div>
        <div *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched">
          Enter a valid email address
        </div>
      </div>
      
      <div>
        <label for="password">Password:</label>
        <input type="password" formControlName="password" id="password">
        <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
          Password is required
        </div>
        <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched">
          Password must be at least 6 characters long
        </div>
      </div>
      
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
