<div class="dashboard">
  <h1>Dashboard Back Office</h1>
  <h2>Liste des Catégories</h2>
  <ul>
    <li *ngFor="let categorie of categories">
      <!-- Vue d'édition -->
      <ng-container *ngIf="categorie.enEdition; else vueNormale">
        <input type="text" [(ngModel)]="categorie.label"/>
        <button (click)="sauvegarderCategorie(categorie)">Sauvegarder</button>
        <button (click)="annulerEdition(categorie)">Annuler</button>
      </ng-container>
      <!-- Vue normale -->
      <ng-template #vueNormale>
        <a [routerLink]="['/produit-backoffice', categorie.id_categorie, 'produits']">{{ categorie.label }}</a>
        <button (click)="modifierCategorie(categorie)">Modifier</button>
        <button (click)="supprimerCategorie(categorie)">Supprimer</button>
      </ng-template>
    </li>
  </ul>
</div>
