<ng-container *ngIf="(authService.isLoggedIn() | async); else loggedOut">
    <button (click)="logout()" routerLink="/home">Déconnexion</button>
    <button routerLink="/categorie">Home</button>
    <button routerLink="/panier">Panier</button>
    <button *ngIf="role()" routerLink="/dashboard">Dashboard</button>
  </ng-container>
  <ng-template #loggedOut>
    <button *ngIf="showButton('login')" routerLink="/login">Login</button>
    <button *ngIf="showButton('register')" routerLink="/register">Register</button>
    
  </ng-template>
  