@import '../../variables.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Plus flexible et adaptable */
    background-color: var(--navbar-background);
    color: #ffffff;
    height: 12vh; /* Adaptatif en fonction de la hauteur de la vue */
    min-height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-items {
    margin-right: 1vw; /* Utilise viewport width pour la marge */
}

.nav-items button {
    margin-left: 0.625rem; /* Utilise em pour la marge */
    padding: 0.625rem 0.9375rem; /* Utilise em pour le padding */
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Taille de police adaptative */
}

.nav-items button:hover {
    background-color: var(--link-hover-color);
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.3125rem 0.625rem; /* Padding plus dynamique */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.3rem;
}

.navbar-brand img {
    height: 9vh; /* Hauteur basée sur la vue */
    margin-right: 10px;
}

/* Media Query for screens narrower than 550px */
@media (max-width: 550px) {
    .navbar {
        flex-direction: column; /* Change layout to vertical */
        padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
        height: auto; /* Make height auto to accommodate vertical layout */
    }

    .navbar-brand {
        margin-bottom: 0.5rem; /* Provide some spacing between items */
        justify-content: center; /* Center the brand for aesthetics */
        font-size: 1rem; /* Adjust font size for better fit */
    }

    .navbar-brand img {
        height: 7vh; /* Adjust image size to be smaller */
    }

    .nav-items {
        justify-content: center; /* Center navigation items */
        width: 100%; /* Full width for easier navigation */
        margin: 0; /* Remove margin */
    }

    .nav-items button {
        margin: 0 0.3125rem; /* Adjust margin between buttons */
        padding: 0.5rem; /* Reduce padding */
    }
}
