// Couleurs primaires et secondaires
$primary-color: #eb8291;
$secondary-color: #e65c5c;

@keyframes slideBackground {
  from {
    background-position: 0 0;
  }
  to {
    /* -100vw garantit que l'image se déplace juste en dehors de l'écran */
    background-position: -100vw 0;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  background-image: url('fond_legume.png');
  background-size: contain;
  background-repeat: repeat;
  animation: slideBackground 80s linear infinite;

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
  }

  h1 {
    font-size: 3rem; // Adaptation dynamique pour les grands écrans
    color: #333;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem; // Adaptation pour une meilleure lisibilité
    color: #666;
    max-width: 90%; // Adaptatif à la largeur de l'écran
    margin-bottom: 1rem;
    line-height: 1.6; // Amélioration de la lisibilité du texte
  }

  a {
    font-size: 1rem; // Adaptation pour les petits écrans
    color: $primary-color;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
      color: darken($primary-color, 10%);
    }
  }
}

// Media queries pour les ajustements sur petits écrans
@media (max-width: 768px) {
  .home-container {
    background-size: auto; // Ajustement pour que l'image ne soit pas trop petite

    .home-content {
      padding: 1rem;
    }

    h1 {
      font-size: 2.5rem; // Taille réduite pour les petits écrans
    }

    p {
      font-size: 1rem; // Réduction de la taille de la police
    }

    a {
      font-size: 0.875rem; // Taille plus petite pour les liens
    }
  }
}
