<div class="panier-list">
    <h2>Panier</h2>
    <div class="panier-container">
        <div *ngFor="let produit of produits" class="category-card" (click)="navigateToProduct(id_categorie[produit.id_produit])">
            <div class="category-content">
              <img *ngIf="url[produit.id_produit]" [src]="url[produit.id_produit]" alt="{{label[produit.id_produit]}}">
              <div>{{ label[produit.id_produit] }}</div>
              <div>{{ prix[produit.id_produit] | currency }}</div>
              <div>
                <button (click)="ajouterAuPanier(produit, $event)">+</button>
                {{ quantites[produit.id_produit] }} 
                <button (click)="enleverDuPanier(produit, $event)">-</button> 
              </div>
              <button (click)="enleverDuPanierProduit(produit, $event)">Enlever du panier</button>
            </div>
          </div>
          
    </div>
    <div class="total">
        <div>Nombre de produits: {{ produits.length }}</div>
        <div>Total: {{ total | currency }}</div>
        <div></div>
        <button (click)="viderPanier()">Vider le panier</button>
    </div>
</div>