@import '.././variables.css';

@keyframes slideBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../../public/fond_legume.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  animation: slideBackground linear infinite;
}

.home-content {
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  text-align: center;
  padding: 2rem;
  background-color: var(--background-light);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 4vw;
  color: var(--text-color);
  margin-bottom: 1rem;
}

p {
  font-size: 1.5vw;
  color: var(--text-secondary-color);
  max-width: 600px;
  margin: 0 auto;
}

.link {
  font-size: 1.25rem;
  color: var(--link-color);
  text-decoration: none;
  margin: 0 10px;
}

.link:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}
