@import '../variables.css';

@keyframes slideBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/fond_legume.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation: slideBackground linear infinite;
}

.login-form-container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: var(--background-light);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}

.input-group input {
    width: 100%!important;
    padding: 10px!important;
    border: 1px solid #ccc!important;
    border-radius: 5px!important;
    box-sizing: border-box!important; /* S'assure que le padding et la border sont inclus dans la largeur */
}


.login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--secondary-color);
}

/* Media Query for screens narrower than 550px */
@media (max-width: 550px) {
    .login-form-container {
        width: 100%;
        padding: 15px;
    }

    .input-group input, .login-button {
        padding: 8px;
    }
}
