$primary-color: #eb8291; 
$secondary-color: #e65c5c; 


.user-list {
    padding: 20px;
    margin-top : 200px;
  
    h2 {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 40px;
      margin-bottom: 20px;
    }
  
    .user-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
    }
  
    .user-card {
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 15px;
      width: 250px; 
      height : 250px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
      }
    }
  
    .user-content {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      gap: 10px;


    }
  
    input[type="text"], input[type="number"] {
      width: 90%;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 5px;
    }
  
    button {
      padding: 6px 12px;
      border: none;
      border-radius: 4px;
      background-color: #eb8291;
      color: white;
      cursor: pointer;
  
      &:hover {
        background-color: darken(#eb8291, 10%);
      }
    }
  
    input[type="file"] {
      color: #222245;
      padding: 8px 0;
      background-color: #fff;
  
      &::file-selector-button {
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        background-color: #eb8291;
        color: white;
        cursor: pointer;
  
        &:hover {
          background-color: darken(#eb8291, 10%);
        }
      }
    }
  }
  