<div class="user-list">
    <h2>Utilisateurs</h2>
    <div class="user-container">
    <div *ngFor="let user of utilisateurs" class="user-card">
        <ng-container *ngIf="user.enEdition; else vueNormale">
            <form (ngSubmit)="saveUser(user)">
                <div class="user-content">
                    <input type="text" [(ngModel)]="user.nom" name="nom" placeholder="Nom" required>
                    <input type="text" [(ngModel)]="user.prenom" name="prenom" placeholder="Prénom" required>
                    <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
                    <select [(ngModel)]="user.role" name="role" required>
                        <option value="admin">Admin</option>
                        <option value="client">Client</option>
                    </select>
                    <button type="submit">Sauvegarder</button>
                    <button type="button" (click)="annulerEdition(user)">Annuler</button>
                </div>
            </form>
        </ng-container>


    <ng-template #vueNormale>
    <div class="user-container">
            <div class="user-content">
                <div>{{ user.nom }}</div>
                <div>{{ user.prenom }}</div>
                <div>{{ user.email }}</div>
                <div>{{ user.role }}</div>
                <button (click)="modifierUtilisateur(user)">Modifier</button>
                <button (click)="supprimerUtilisateur(user)">Supprimer</button>
            </div>
    
    </div>
    </ng-template>
    </div>
</div>